body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  min-height: 95vh;
  background: linear-gradient(to bottom, transparent, #6612a4), url('images/HeaderPicture.jpeg');
  background-size: cover;
}

/* ####### NAV BAR ####### */

nav {
  display: flex;
  justify-content: space-between;
}
.nav-bar {
  padding: 95px;
  margin-right: 70px;
}
.nav-bar a {
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 15px;
}
.nav-bar a:hover {
  text-decoration: underline;
  text-decoration-color: #26c8c6;
}
nav img {
  padding: 80px;
  max-width: 65px;
  max-height: 65px;
  margin-left: 80px;
}
nav button {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  border-radius: 4px;
  padding: 15px 35px;
  color: white;
  background-color: #8505ce;
}

/* ####### HEADER ####### */

.header-content, .header-forms {
  margin-left: 160px;
}
.header-content strong {
  font-size: 55px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: white;
}
.header-content p {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.header-forms {
  margin-top: 20px;
}
.header-forms input {
  padding: 20px 40px;
  margin: 4px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
}
.header-forms button {
  padding: 18px 22px;
  margin: 4px;
  border: none;
  border-radius: 3px;
  background-color: #26c8c6;
  color: white;
  font-size: 16px;
}

/* ####### SECTION 1 ####### */

.section-1 {
  min-height: 60vh;
  background-image: url(images/White_Background.JPG);
  background-size: cover;
}
.section-1-content {
  display: flex;
  flex-direction: column;
}
.section-1-content h2 {
  font-size: 35px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin: 60px auto 0px;
}
.section-1-content p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  margin: 30px auto;
  text-align: center;
  line-height: 25px;
  color: gray;
}
.section-1-content img {
  max-width: 330px;
  max-height: 330px;
  margin: 40px auto 0px;
}
/* ####### SECTION 2 ####### */

.section-2 {
  min-height: 90vh;
  background-color: whitesmoke;
}
.section-2-content {
  display: flex;
  flex-direction: column;
}
.section-2-content h3 {
  font-size: 26px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin: 110px auto 0px;
}
.section-2-content p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  margin: 30px auto;
  text-align: center;
  line-height: 25px;
  color: gray;
}
.section-2-circles, .text-undercircle {
  display: flex;
  justify-content:center;
}
.section-2-circles div {
  background-color: #8505ce;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin: 30px 70px;
}
#shop-card, #tg-plane, #expand-arrow, #window {
  font-size: 38px;
  margin: 45px 40px;
  color: white;
}
#expand-arrow, #window {
  margin: 45px;
}
.text-undercircle {
  display: flex;
  flex-direction: column;
}
.text-header, .text-paragraph {
  display: flex;
  justify-content:center;
}
.text-header h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px 50px;
  /* text-align: center; */
}
.text-paragraph p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  margin: 20px 10px;
  text-align: center;
  color: gray;
  line-height: 20px;
}
/* ####### SECTION 3 ####### */

.section-3 {
  min-height: 88vh;
  background-color: white;
}
.section-3-content {
  display: flex;
  flex-direction: column;
}
.section-3-content h3 {
  font-size: 26px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin: 80px auto 0px;
}
.section-3-content p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  margin: 30px auto;
  text-align: center;
  line-height: 25px;
  color: gray;
}
.section-3-buttons {
  display: flex;
  justify-content: center;
}
.section-3-buttons button {
  padding: 20px 38px;
  border-radius: 1px;
  border-width: thin;
  border-color: #26c8c6;
  color: #26c8c6;
  border-style: solid;
  font-size: 12px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
}
.section-3-buttons button:hover {
  background-color: #26c8c6;
  color: white;
}
#but-1 {
  border-right: none;
}
#but-2, #but-3 {
  border-right: none;
  border-left: none;
}
#but-4 {
  border-left: none;
}
.section-3-forms {
  display: flex;
  justify-content: center;
}
.form-picture {
  width: 280px;
  border-radius: 4px;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 50px 8px;
}
.form button {
  border: none;
  border-radius: 4px;
  padding: 20px;
  font-size: 12px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: black;
}
/* ####### SECTION 4 ####### */

.section-4 {
  min-height: 90vh;
  background: linear-gradient(to top, transparent, #6612a4), url('images/Woman.jpg');
  background-size: cover;
}
.section-4-content {
  display: flex;
}
.section-4-text {
  margin: 260px 0px 0px 40px;
}
.section-4-content strong {
  font-size: 45px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: white;
}
.section-4-content p {
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.section-4-content img {
  max-width: 150px;
  max-height: 150px;
  margin: 260px 0px 0px 150px;
}

/* ####### SECTION 4 ####### */

.section-5 {
  min-height: 70vh;
  background-color: whitesmoke;
}
.section-5-img{
  display: flex;
  justify-content: flex-end;
}
.section-5 img{
  margin-right: 250px;
  margin-top: -300px;
}

/* ####### FOOTER ####### */

footer {
  min-height: 50vh;
  background-color: whitesmoke;
}
.footer-share-buttons {
  display: flex;
  justify-content: flex-end;
}
.tweet {
  border: none;
  border-radius: 3px;
  background-color: #68b6f0;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 13px;
  margin-right: 10px;
  padding: 9px 23px;
}
.share {
  background-color: #395798;
  border: none;
  border-radius: 3px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 13px;
  margin-right: 200px;
  padding: 9px 23px;
}
.footer-contacts {
  display: flex;
  justify-content: space-between;
}
.footer-first-two-columns {
  display: flex;
}
.column-1, .column-2, .copyright {
  opacity: 0.4;
  line-height: 24px;
  font-size: 13px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 50px 50px 0px 50px;
}
.column-1 {
  margin-left: 200px;
}
.copyright {
  margin-right: 200px;
  text-align: right;
}
footer > p {
  opacity: 0.4;
  line-height: 24px;
  font-size: 13px;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 200px;
}
/* ####### NAVIGATION DIVISION CIRCLE ####### */

.division-circle-1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: auto;
    margin-top: -50px;
}
.division-circle-1 i {
    font-size: 30px;
    color: darkgray;
    margin-top: 35px;
    margin-left: 35px;
}
.division-circle-2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin: auto;
    margin-top: -50px;
}
.division-circle-2 i {
    font-size: 30px;
    color: darkgray;
    margin-top: 35px;
    margin-left: 35px;
}
